BasedOnStyle: Google

# Breaking string literals when combined with a column limit can result in some
# really terribly-formatted source where there are many lines in a row that each
# consist of string literals that only contain one or two characters each.
BreakStringLiterals: false

# While sorting includes is visually appealing, we choose not to do it since
# it can functionally change the source in some cases where headers have been
# poorly architected.
SortIncludes: false

ColumnLimit: 100
